/* ---------------------------------------------------------------------------
					
	HoohaaDesign
	http://hoohaadesign.co.uk
	Please DO NOT USE THIS CODE this website is not a template please exercise your creativity!
	Copyright ©HoohaaDesign 2011. Any infringement on this copyright will be vigorously pursued.
	
--------------------------------------------------------------------------- */
@charset "UTF-8";
#testimonials .test-item p {
	margin: 0 0 0 20px;
	}
.trigger, .village, .cloudbar {top: 4350px;}
#successes .items {margin: 0; padding: 0; left: 0;}
.logo {margin:-30px 0 50px 0;}
nav ul li a:hover {outline: none; border: 0;}


